* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	text-align: inherit;
	text-decoration: inherit;
	color: inherit;
	background-color: transparent;
}

body *:focus,
body *:active {
	outline: none;
	text-decoration: none;
}

html {
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
}

body {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: left;
	text-decoration: none;
	color: #333;
	background-color: #FDB70F;
}

strong{
	font-weight: 800;
}

.noSelect,
.noSelect * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
}


.container{
	position: relative;
	background-color: #fff;
}

header .logo{
	background-color: #000;
}
header .sort-filter{
	display: flex;
	flex-flow: row wrap;
	padding: 0.5rem;
}
header .sort-filter .category-list{
	width: 100%;
}
header .sort-filter .status-list,
header .sort-filter .sort-list{
	flex: 1;
}
.sort-filter .item{
	display: block;
	cursor: pointer;
	font-weight: 600;
	font-size: 0.875rem;
}
.sort-filter .item .box{
	font-weight: 400;
	font-size: 1.5rem;
}

.status-list ul{
	display: block;
	padding: 0.5rem;
}
.status-list li {
	display: block;
}

.flex-list{
	display: flex;
	flex-flow: row wrap;
	padding: 0.5rem;
}

.flex-list li{
	flex: 1 50%;
	max-width: 50%;
	display: flex;
}

.product {
	display: block;
	flex-grow: 1;
	margin: 0.25rem;
	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 0.25rem;
	font-size: 0.875rem;
	line-height: 1rem;
}
.product span{
	display: block;
}
.product .description{
	padding: 0.5rem;
}
.product .image{
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}
.product .image .image-crop {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0.5rem;
	text-align: center;
}
.product .image img{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	margin: 0 auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.product .name{
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 600;
}
.product .characters{
	white-space: pre-wrap;
}

.instock-true{ color: #090; }
.instock-false{ color: #900; }
.category-1{ color: #005879; }
.category-2{ color: #a0005f; }
.category-3{ color: #a08f00; }
.category-4{ color: #401082; }
.category-5{ color: #017739; }
.category-6{ color: #930308; }


/* medium */
@media (min-width: 720px) {
	.container{
		width: 640px;
		padding: 0 0 1rem 0;
		margin: 0 auto;
	}
	.product-list .flex-list li{
		flex: 1 33.3333333%;
		max-width: 33.3333333%;
	}
}
/* large */
@media (min-width: 920px) {
	.container{
		width: 800px;
	}
	header .sort-filter .category-list{
		flex: 2;
	}
	.product-list .flex-list li{
		flex: 1 25%;
		max-width: 25%;
	}
}
/* xlarge */
@media (min-width: 1020px) {
	.container{
		width: 960px;
	}
}
